html {
    height: 100%;
}

.body {
    position: relative;
    height: 100%;
    background-position: center top;
    background-image: url("./img/socom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}

.body::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    z-index: 0;
}

.section {
    position: relative;
    padding-top: 100px;
}

.title {
    margin: 0;
    padding-bottom: 20px;
    color: #FFF;
}

.list {
    width: 300px;
    height: auto;
}

.insertInput {
    margin-top: 20px;
}